body{
    background-color: #F3EFEE
}

.front-card{
    width:612px;
    height: 350px;
    margin: 0 auto;
    background-color:#F0D9D1;
    margin-bottom: 70px;
    background-image: url("assets/front-card.svg");
    box-shadow: 2px 5px 15px 0px #17161694;
      
}

.back-card{
    width:612px;
    height: 350px;
    margin: 0 auto;
    background-color: #999B84;
    box-shadow: 2px 5px 15px 0px #17161694; 
    
}
.icon-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 4%;
    position: relative; left: 23px; top: 16%;
    grid-template-areas: "a,b,c";
  }


h1{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-weight: 500;
    color: #5B5C48;
    text-align:left;
    position: relative; left: 30px; top: 195px;
    line-height: 4mm;
    letter-spacing:1.5mm
}
 
h2{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    color: #5B5C48; opacity: 60%;
    font-weight: lighter;
    text-align: left;
    position:relative; left: 30px; top: 195.5px;
    text-align: left;
    line-height: 1mm;
    letter-spacing: -0.3mm;
}

h3{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    font-weight:normal;
    color: #F3EFEE;
    position: relative; left: 60px; top: 160px;
    line-height: 0%;
}

h4{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    font-weight: 100;
    color: #F3EFEE;
    position: relative; left: 60px; top: 161px;
    line-height: 0%;
}   

h5{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    font-weight:lighter;
    color: #F3EFEE;
    text-align: left;
    line-height: 0%;
    position: relative; left: 60px; top: 170px;
    text-decoration: none;
}
